html, 
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Loto",sans-serif; 
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

} 
.pimg1{ 
    background-image: url("https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg"); 
    min-height: 100%;
} 
.pimg2{ 
    background-image: url("https://i.pinimg.com/736x/c0/2d/0a/c02d0a0f0d824ec4c8cd24e7ca753d8f.jpg"); 
    min-height: 400px; 
    width: 100%;
} 
.pimg3{ 
    background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https://wallpaperaccess.com/full/566276.jpg"); 
    min-height: 400px;
}  
.pimg1,
.pimg2,
.pimg3 {
position: relative;
background-position: center;  
background-size:cover ;
background-repeat: no-repeat;
} 
 
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    letter-spacing: 8px;
    text-transform: uppercase; 
    
} 
.textBg{ 
background: #313534; 
color: #fff;  
padding: 20px; 
font-size: 20px;
} 
  
.section{
    padding: 50px 80px;  
    text-align: center; 
}
.section-light {
    background-color:#f4f4f4; 
    color: #666; 
}
.section-light p{
    text-align: justify; 
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
 
.section-dark{
    background-color:#282e34; 
    color: #ddd;
} 
.section-dark p{
    text-align: justify; 
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

